
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.remymartin.com/wp-content/uploads/2016/07/15_Sidecar-2-1024x524.jpg);">
  <div class="banner-content">
    <h1>Find the right cocktail for you</h1>
    <p>Best cocktails in town</p>
    <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary btn-sm" %>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="d-flex flex-row flex-wrap justify-content-around">
    <% @cocktails.each do |cocktail| %>
      <div class="">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), ;">
          <div class="card-description">
            <h2><%= cocktail.name %> <%= link_to 'more', cocktail_path(cocktail) %></h2>
          </div>
          <%= link_to "", cocktail_path(cocktail), class: 'card-link' %>
        </div>
      </div>
  <% end %>
  </div>
      
    </div>
</div>

